* {
	font-size: $font-size-base;
}

.clearfix {
	&:after, &:before {
		content: "";
		width: 0;
		height: 0;
		clear: both;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

.font-bold {
	font-family: 'Roboto-Bold';
}

.font-medium {
	font-family: 'Roboto-Medium';
}

.article-author {
	font-family: 'Roboto Light';
	line-height: 22px;
	margin: 10px 0 20px;
	.author-img {
		width: 22px;
		height: 22px;
		border-radius: 50%;
		margin-right: 15px;
	}
}

.article-list {
	font-family: 'Roboto Light';
	margin: 15px -10px 30px;
	.article-list-item {
		position: relative;
		float: left;
		padding: 0 10px;
		&:after {
			content: "";
			position: absolute;
    		top: 5px;
    		right: -3px;
			width: 4px;
			height: 4px;
			background: gray;
			border-radius: 50%;
		}
		&:last-child:after {
			content: none;
		}
	}
}

.article-comments {
	padding: 15px 0;
	line-height: 32px;
	.author-comment-img-wrap {
		margin-right: 15px;
		.author-comment-img {
			position: relative;
			width: 22px;
	    	height: 32px;
			img {
				position: absolute;
				left: -5px;
				width: 32px;
				height: 100%;
				border-radius: 50%;
				border: 1px solid #fff;
			}
		}
	}
}

.article-action-wrap {
	margin: 0 10px;
	line-height: 24px;
	i {
		margin-right: 5px;
	}
}

.article-tag-wrap {
	padding: 5px 10px;
	&.pos-absolute {
		top: 5px;
	}
	.article-tag {
		padding: 7px;
		border-radius: $border-radius-base;
		background: $light-gray;
	}
}