<article>
    <div class="row">
        <div class="col-xs-3">
            <div class="article-tag-static">
                <div class="article-tag-wrap">
                    <div class="article-tag">JavaScript</div>
                </div>
            </div>
            <div class="article-date">
                <h4>12th Apr - 30th Jun</h4>
                <h6>2017</h6>
            </div>
        </div>
        <div class="col-xs-9">
            <h2>Designing Focal Point Prints: Design 3 Patterns in 3 Weeks</h2>
            <div class="article-author clearfix">
                <div class="pull-left">by Leah Carlston</div>
            </div>
            <div class="article-list clearfix">
                <div class="article-list-item">Free</div>
                <div class="article-list-item">5 sessions</div>
            </div>
        </div>
    </div>
    <action-article></action-article>
</article>