<div class="article-comments clearfix">
    <div class="pull-left">
        <div class="author-comment-img-wrap pull-left">
            <div class="pull-left author-comment-img" *ngFor="let tweet of [1,2,3,4]">
                <img src="../Content/img/profile.jpg">
            </div>
        </div>
        <div class="pull-left">+123 enrolled</div>
    </div>
    <div class="pull-right">
        <div class="article-action-wrap pull-left">
            <i class="material-icons pull-left">thumb_up</i>
            <div class="pull-left">126</div>
        </div>
        <div class="article-action-wrap pull-left">
            <i class="material-icons pull-left">share</i>
            <div class="pull-left">50</div>
        </div>
    </div>
</div>